* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* Navbar CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.logo h1 {
    font-size: 50px;

}

.navbar li {
    display: flex;
    justify-content: space-evenly;
    display: inline;
    list-style: none;

    padding: 30px;
}

.navbar li a {
    text-decoration: none;
    font-size: 27px;
    padding: 0px;
    color: black;
    font-weight: 400;
}

.navbar li a:hover {
    color: rgb(132, 86, 176);
}

/* Main Box CSS */

.main {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 200px 0px;

}

/* infobox CSS */
.infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 0px 100px;
}

.heading1 {
    font-size: 40px;

}

.heading2 {
    font-size: 25px;
    color: rgb(59, 58, 58);
}

.heading3 {
    font-size: 20px;
    color: rgb(59, 58, 58);
}


/* PhotoBox CSS */
.photobox img {
    height: 500px;
    width: 500px;
    border-radius: 1000px;
    border: 20px solid  rgba(207, 203, 227);
}

.photobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

/* Buttonbox */

.buttonbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: left;

}

.button {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    background-color:rgb(132, 113, 238,0.7);
   

}
.button a{
    text-decoration: none;
    font-size: 20px;
    color: white

}
.button:hover{
    background-color:rgb(163, 148, 251);
}
/* Icon CSS */
.icons{
    display: flex;
    justify-content: center;
    justify-content: left;


}
.icon{
    padding: 20px;
    font-size: 50px;
    color:rgb(178, 177, 179);
    padding-left: 0px;
    padding-right: 26px;
   

    
}
.icon:hover{
    color: rgb(75, 74, 74);
   
}